body {
    font-family: sans-serif;
    background-color: rgb(69, 69, 69);
    color: white;
    box-sizing: border-box;
}

h1 {
    font-size: 40px;
}

header {
    display: grid;
    place-content: center;
}

#employee {
    display: flex;
    place-content: center;
    height: 36px;
    width: auto;
}

#container-name {
    display: grid;
    place-content: center;
    font-size: 30px;
    margin: 8px;
}

#container-hours {
    display: grid;
    place-content: center;
    font-size: 60px;
    font-weight: bold;
    margin: 10px;
}

#button {
    display: grid;
    place-content: center;
}

#dates {
    display: flex;
    justify-content: center;
    margin-top: 20px;   
}

#start {
    margin-right: 4px;
}

#end {
    margin-left: 4px;
}

#date-submit {
    margin-left: 12px;
}

#data {
    display: grid;
    place-content: center;
    margin-top: 30px;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
}

td, th {
    border: 2px solid black;
    padding: 12px;
    text-align: center;
}

input {
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    margin: 4px;
    background-color: rgb(241, 236, 236);
}

.dayInfo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.inputtedHours, .inputtedCode {
    border: 1.5px solid black;
    overflow: hidden;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
}